iframe{
    width:100% !important;
}
.iframeBox{
    position:relative;
    width:100% !important;
}


.cdcontainer {
  margin: 0px auto;
  padding: 0px;
}

#cdmain { 
  background: #3B3B3B;
  height: 280px;
  filter:alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}

.cdcontent {
  padding: 10px 44px;
}

.cdtext {
  border-bottom: 1px solid #262626;
  margin-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 1px;
}

.cdtext h2 {
  color: #E5E5E5;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  letter-spacing: 2px;
}

.counter {
  background: #2C2C2C;
  -moz-box-shadow:    inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow:         inset 0 0 5px #000000;
  min-height: 80px;
  text-align: center;
}

.counter h3 {
  color: #E5E5E5;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  letter-spacing: 1px;
  padding-top: 20px;
  margin-bottom: 30px;
}

#countdown {
  color: #FFFFFF;
}

#countdown span {
  color: #E5E5E5;
  font-size: 22px;
  font-weight: normal;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}